
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post" id="logoutForm" class="navbar ml-auto">
        <ul class="navbar-nav">
            <li class="loginname">
                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" id="manage">Welcome, @UserManager.GetUserAsync(User).Result.FirstName @UserManager.GetUserAsync(User).Result.LastName</a>
            </li>
            <li>
                <button type="submit" class="btn btn-outline-primary btn-sm" id="logoutnavbar">Logout</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav" id="loginnavbar">
        <li><a asp-area="Identity" asp-page="/Account/Register" class="btn btn-outline-primary btn-sm">Register</a></li>
        <li><a asp-area="Identity" asp-page="/Account/Login" class="btn btn-outline-primary btn-sm">Login</a></li>
    </ul>
}

