@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"]</h2>

<div class="row justify-content-center" >
    <div class="col-md-5" id="registerheader">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4 class="text-center">Create a new Account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <label asp-for="Input.FirstName" class="input-group-text"></label>
                </div>
                <input asp-for="Input.FirstName" class="form-control" placeholder="FirstName" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <br />
            <div class="input-group">
                <div class="input-group-prepend">
                    <label asp-for="Input.LastName" class="input-group-text"></label>
                </div>
                <input asp-for="Input.LastName" class="form-control" placeholder="LastName" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <br />
            <div class="input-group">
                <div class="input-group-prepend">
                    <label asp-for="Input.Email" class="input-group-text"></label>
                </div>
                <input asp-for="Input.Email" class="form-control" placeholder="Email" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <br />

            <div class="input-group">
                <div class="input-group-prepend">
                    <label asp-for="Input.Password" class="input-group-text"></label>
                </div>
                <input asp-for="Input.Password" class="form-control" placeholder="Password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <br />
            <div class="input-group">
                <div class="input-group-prepend">
                    <label asp-for="Input.ConfirmPassword" class="input-group-text"></label>
                </div>
                <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <br />
            <button type="submit" class="btn btn-outline-primary btn-sm" style="border:1px solid; border-radius:5px;">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
